<h1>Route- Show</h1>
<table>
    <tr>
        <th>id</th>
        <th>route</th>
        <th>active</th>
        <th>created_at</th>
        <th>updated_at</th>
    </tr>
    <tr>
        <td><%= @route.id %></td>
        <td><%= @route.route %></td>
        <td><%= @route.active %></td>
        <td><%= @route.created_at %></td>
        <td><%= @route.updated_at %></td>
    </tr>
</table>