<h1>POI- Show</h1>
<table>
    <tr>
        <th>id</th>
        <th>long</th>
        <th>lat</th>
        <th>name</th>
        <th>duration</th>
        <th>created_at</th>
        <th>updated_at</th>
    </tr>
    <tr>
        <td><%= @poi.id %></td>
        <td><%= @poi.long %></td>
        <td><%= @poi.lat %></td>
        <td><%= @poi.name %></td>
        <td><%= @poi.duration %></td>
        <td><%= @poi.created_at %></td>
        <td><%= @poi.updated_at %></td>
    </tr>
</table>